{% extends "base.html.twig" %}

{% block title %}{{ store.getName }}{% endblock %}

{% block content %}

<h1>{{ store.getName }} Information</h1>

<ul>
    <li>Store Name: {{ store.getName }}</li>
        <ul>
        {% if brands is not empty %}
            <h3>Brands sold in this store:</h3>
            {% for brand in brands %}
                <li><a href="/brand/{{ brand.getId }}">{{brand.getName}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
</ul>

<div class="edit_delete">

    <form action="/edit_store/{{ store.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="name">Edit Store</label>
        <input type="text" name="name" value="{{ store.getName }}" class="form-control">

        <button type="submit" class="btn btn-warning">Edit</button>
    </form>

    <form action="/delete_store/{{ store.getId }}" method="post">
        <input type="hidden" name="_method" value="delete">
        <label for="delete-store">Delete Store</label>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{% if all_brands is not empty %}
<form action="/assign_brand/{{ store.getId }}" method="post">
    <label for="assign-brand">Assign a brand to this store</label>
        <select name="assign-brand" class="form-control">
            {% for brand in all_brands %}
            <option value="{{ brand.getId }}">{{ brand.getName }}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-success">Assign Brand</button>
</form>
{% endif %}

{% endblock %}
